<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/autos.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Autos</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href=""><img src="/Images/logo.png" alt="Automovil"></a>
        </div>
    </header>

    {{{body}}}

    <footer>
        <div class="logo-footer">
            <img src="/Images/logo.png" alt="">
            <h4>Diseñado por Ignacio Gómez - ©2022</h4>
        </div>

        <div class="logos">
            <a href="#"><img src="/Images/facebook.png" alt=""></a>
            <a href="#"><img src="/Images/twitter.png" alt=""></a>
            <a href="#"><img src="/Images/youtube.png" alt=""></a>
            <a href="#"><img src="/Images/pinterest.png" alt=""></a>
            <a href=""><img src="/Images/gmail.png" alt=""></a>
        </div>

  </body>
</html>
