<div class="container" style="background-color: white;">
    <div class="row" style="background-color: white;">
        <p class="text-end">Hola {{persona}}! <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesión <i class="fas fa sign-out-alt"></i></a></p>
    </div>
</div>