*{
	box-sizing: border-box;
}

.container{
	display: flex;
	padding: 0px;
	float: right;
	flex-direction: column;


}

.container div{
	color: white;
	margin: 0px;
	padding-top: 100px;
	width: 200px;
	height: 200px;
	font-size: 20px;
	outline: 2px outset black;
	text-align: center;
	line-height: -50px;
	position: static;
}