<div class="contenedor" style="margin: 100px;">
    <div class="row">
        <div class="col-6 offset">
            <h4 class="text-center">Agregar una nueva Novedad</h4>
        </div>
        <form action="/admin/novedades/agregar" method="post" >
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Titulo" name="titulo">
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Subtitulo" name="subtitulo"></textarea>
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}
    </div>
</div>